.parent{
    width:500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
}
.child{
    border: 1px solid black;
}
.child1{
    background-color: aqua;
    align-self: end;
    justify-self: end;
}
.child2{
    width:50px;
    height: 30px;
    align-self: end ;
    justify-self: center;
    background-color: aqua;
}
.child3{
    width:50px;
    height: 30px;
    align-self: end ;
    justify-self: start;
    background-color: aqua;
}
.child4{
    width:50px;
    height: 30px;
    align-self: center ;
    justify-self: center;
    background-color: aqua;
}