.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 40px;
}

.center {
  justify-content: center;
}

.chart-box {
  background: #514e4e;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.2);
  width: 45%;
  min-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(135, 206, 250, 0.5);
}

.chart-title {
  text-align: center;
  color: #00cfff;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}
